* {
  box-sizing: border-box;
}

.main {
  display: grid;
  margin-bottom: 5%;
}
.first,
.second {
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  max-height: 100%;
  width: 100%;
}

.a naslov {
  text-transform: uppercase;
}
