* {
  box-sizing: border-box;
}

.main-card {
  /* display: grid;
  margin-bottom: 5%; */
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

@media only screen and (max-width: 760px) {
  .main-card {
    justify-content: center;
  }
}
/* .first,
.second {
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  max-height: 100%;
  width: 100%;
} */

/* .a {
  text-transform: uppercase;
} */
