/* body {
  background-image: url("../../assets/images/homepage.jpg");
} */
.about {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-left: 5%;
  margin-right: 10%;
  /* margin-right: 10%; */
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}
h1 {
  font-size: 2.9em;
}
.about .about_card p {
  font-size: "8.6em";
  width: 100%;
  text-transform: uppercase;
}
.blue {
  color: blue;
}

@media only screen and (max-width: 760px) {
  .about .about_card .about_title {
    font-size: 2.9em;
  }
  .about .about_card .home-about-body {
    font-size: 5px;
  }
}
