#root {
  white-space: pre-line;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  height: 100%;
  width: 100%;
  background-image: url("../src/assets/images/homepage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
